<!-- ************************ -->
<!--   PAGE TITLE             -->
<!-- ************************ -->

<div class="page-title jarallax" style="background-image: url(assets/images/bg3.png);">

  <div class="overlay"></div>
  <!-- End overlay -->
  <div class="container">
    <div class="text-center">

      <h1 class="tlt">
        Contact Us
      </h1>

      <div class="breadcrumbs">
        <ul class="list-none">
          <li>
            <a href="/" class="animsition-link">Home</a>
          </li>
          <li>Contact Us</li>
        </ul>
      </div>
      <!-- End breadcrumbs -->

    </div>
  </div>
  <!-- End container -->
</div>
<!-- End page-title -->

<main>

  <!-- ************************ -->
  <!--   CONTACT INFO           -->
  <!-- ************************ -->

  <section class="pt150">
    <div class="container">
      <div class="contacts-wrap">

        <div class="borders"></div>

        <div class="row">

          <div class="col-md-4 sm-mb40" data-sr>
            <div class="text-center">
              <div class="contact-item">
                <i class="cr-location"></i>
                <p>10111 Santa Monica Boulevard<br>Los Angeles</p>
              </div>
              <!-- End contact-item -->
            </div>
          </div>

          <div class="col-md-4 sm-mb40" data-sr>
            <div class="text-center">
              <div class="contact-item">
                <i class="cr-phone"></i>
                <p>(1) 310-474-0000<br>(2) 310-474-0000</p>
              </div>
              <!-- End contact-item -->
            </div>
          </div>

          <div class="col-md-4 sm-mb40" data-sr>
            <div class="text-center">
              <div class="contact-item">
                <i class="cr-pencil"></i>
                <p>
                  <a href="mailto:info@Example.com">info@Example.com</a><br>
                  <a href="mailto:info@Example.com">info@Example.com</a>
                </p>
              </div>
              <!-- End contact-item -->
            </div>
          </div>

        </div>

      </div>
      <!-- End contacts-wrap -->
    </div>
    <!-- End container -->
  </section>

  <!-- ************************ -->
  <!--   CONTACT FORM           -->
  <!-- ************************ -->

  <section class="pt150 pb150">
    <div class="container">

      <div class="text-center mb40">
        <h2 class="uppercase" data-sr>get in touch</h2>
      </div>
    </div>
    <!-- End container -->

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" data-sr="wait .2s">

          <%= form_tag(contacts_path), class: 'contact-form form-black' do  %>
            <div class="col-sm-12 mb30">
              <div class="form-control">
                <%= text_field_tag :first_name, nil, class: 'contact-form-name', placeholder: 'First Name...', required: true %>
                <div class="line-input"></div>
              </div>
            </div>

            <div class="form-control">
              <%= text_field_tag :last_name, nil, class: 'contact-form-message', placeholder: 'Last Name...', required: true %>
            </div>

            <div class="form-control">
              <%= email_field_tag :email, nil, class: 'contact-form-email', placeholder: 'Email...', required: true %>
              <div class="ui left corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>

          <% end %>

          <div class="spacer-20"></div>
          <button class="ui button btn-save-form inverted light-green large subscribe-btn disabled text-uppercase" data-url="<%= contacts_path %>">
            <i class="mail icon"></i>
            Take Action
          </button>

            <!-- End  -->
            <div class="col-sm-12">
              <div class="text-center">
                <p class="return-msg">&nbsp;</p>
              </div>
            </div>
          </form>
          <!-- End contact-form -->

        </div>

      </div>
    </div>
    <!-- End container -->
  </section>

  <!-- ************************ -->
  <!--   GOOGLE MAP             -->
  <!-- ************************ -->

  <section>
    <div class="container-fluid">
      <div class="row">

        <div
          class="map"
          id="map"
          data-lat="25.80114206537448"
          data-lng="-80.20224452018738"
          data-zoom="18"></div>
        <!-- End Map -->

      </div>
    </div>
  </section>

</main>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTgfQp2tBuf3jzvsxjsC0KLDHjM13-nyk"></script
