<div class="title-home jarallax" style="background-image: url(assets/images/land.jpg);">

  <div class="overlay"></div>
  <!-- End overlay -->

  <div class="container">

    <div class="text-center">
      <h4 data-sr style="" class='we-are'>We are
        <span class="color typed-two">&nbsp;</span>
      </h4>
      <p class='text white'>We are entering a world that is fundamentally different than the one we know.
        <br>
        Economics and governance is changing. Institutions are shifting. People are listening.
        <br>
        The next phase is here.
      </p>
      <div class="buttons mt40 mb100">
        <a href="/our_work" class="btn btn-white animsition-link" data-sr>
          <span>view our works</span>
        </a>

      </div>
    </div>
    <div class="row" style="opacity: .6">
      <div><p class="title-over-images"> Trusted by leading brands </p> </div>
      <div class="col-md-3 techno">
        <%= image_tag 'bitcoin.png' %>
      </div>
      <div class="col-md-3 techno">
        <%= image_tag 'ether.png' %>
      </div>
      <div class="col-md-3 techno">
        <%= image_tag 'rsk.png' %>
      </div>
      <div class="col-md-3 techno">
        <%= image_tag 'lightning.png' %>
      </div>
    </div>
  </div>
  <!-- End container -->

</div>

<main>

  <!-- ************************ -->
  <!--   SECTION FEATURES       -->
  <!-- ************************ -->

  <section class="features pt150">

    <div class="container">
      <div class="title">
        The Intellectual and Technological Powerhouse Creating Tomorrow.
      </div>
        <div class="row pt70 pb50">
          <div class="col-md-6 agile-diagram-text pt50" style="font-size: larger;">
            <%= image_tag 'diagram_bushi.png' %>
            <!-- <img src="assets/images/diagram_bushi.png" > -->
          </div>
          <div class="col-md-6 bushi-workflow" >
            <div class="agile-diagram-sub-tex">
                <h4 class="sub_title"> Research & Planning
                  <div class="crazy-borderv2"></div>
                </h4>
                <p class='text black'>We apply the rigor of the scientific method to the nascent space of cryptocurrency and blockchain, developing the infrastructure of the Web 3.0.</p>

              </div>
              <div class="agile-diagram-sub-tex">
                <h4 class="sub_title"> Agile Development
                  <div class="crazy-borderv2"></div>
                 </h4>
              <p class='text black'>Speed is our main tenant. We apply Agile methodologies to a novel environment to achieve project deliverables while creating the infrastructure on which they sit.</p>
            </div>
              <div class="agile-diagram-sub-tex">
                <h4 class="sub_title"> Product Launch
                  <div class="crazy-borderv2"></div>
                </h4>
                <p class='text black'>We are the intersection of a think tank and a products company. We ideate, we innovate and then we create.</p>
              </div>
          </div>
        </div>
    </div>
    <!-- End container -->

  </section>

  <!-- ************************ -->
  <!--   SECTION ABOUT          -->
  <!-- ************************ -->



  <!-- ************************ -->
  <!--   SEPARATOR              -->
  <!-- ************************ -->

  <div class="container">
    <div class="sep-line-bushi"></div>
  </div>
  <!-- End container -->

  <!-- ************************ -->
  <!--   SECTION SERVICES       -->
  <!-- ************************ -->
<div class="craxz-line"></div>
  <section class="pt100 pb150">
    <div class="container">

      <div class="section-title">
        <div class="title">What We Do</div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <em data-sr="wait .2s">Suspendisse potenti. In dignissim quis turpis nec
              egestas. Curabitur faucibus sollicitudin magna, mattis sagittis erat tempus
              eget.</em>
          </div>
        </div>

      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row">
        <div class="owl-services">

          <div class="owl-item">
            <div class="col-md-5">
              <img src="assets/images/digital_currency.jpg" alt="image">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <h4 class="sub_title">01. Digital Currency
                 <div class="crazy-borderv2"></div>
              </h4>

              <p>We use and build open source protocols that leverage the power of blockchain and smart contracts to create cheap, fast and private transactions. These include consensus mechanisms, wallet development and ancillary functionality.
              </p>

              <div class="mt40">
                <a href="/our_work" class="btn animsition-link line-hor">
                  <span>view works</span>
                </a>
              </div>

            </div>
          </div>
          <!-- End owl-item -->

          <div class="owl-item">
            <div class="col-md-5">
              <img src="assets/images/financial_networks.jpg" alt="image">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <h4 class="sub_title">02. Blockchain Applications
                 <div class="crazy-borderv2"></div>
              </h4>

              <p>User adoption and application innovations is driving the need for more secure and robust infrastructures.
              </p>

              <p>We are ‘blockchain agnostic’ in that we leverage several different platforms for different use-cases. The bulk of our experience lies in the Bitcoin and Ethereum Networks.</p>

              <div class="mt40">
                <a href="/our_work" class="btn animsition-link line-hor">
                  <span>view works</span>
                </a>
              </div>

            </div>
          </div>
          <!-- End owl-item -->

          <div class="owl-item">
            <div class="col-md-5">
              <img src="assets/images/blockchain_applications.jpg" alt="image">
            </div>
            <div class="col-md-6 col-md-offset-1">
              <h4 class="sub_title">03. Financial Networks
                 <div class="crazy-borderv2"></div>
              </h4>

              <p>We are researching Layer 2 and Sidechain applications to support Layer 1 scalability. These protocols will afford users and institutions the ability to leverage the power of digital assets across blockchains to provide liquidity through the bridging of disparate markets.
              </p>

              <div class="mt40">
                <a href="/our_work" class="btn animsition-link line-hor">
                  <span>view works</span>
                </a>
              </div>

            </div>
          </div>
          <!-- End owl-item -->

        </div>
        <!-- End owl-services -->

      </div>
    </div>
    <!-- End container -->
    <div class="container">

      <div class="services-nav">
        <i class="lnr lnr-arrow-left"></i>
        <i class="lnr lnr-arrow-right"></i>
      </div>

    </div>
    <!-- End container -->
  </section>

  <!-- ************************ -->
  <!--   COUNTERS               -->
  <!-- ************************ -->

  <section
    class="counters jarallax pt100 pb100"
    style="background-image: url(assets/images/bg4.png);">
    <div class="overlay"></div>

    <div class="container">
      <div class="row">

        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-check"></i>
            </div>
            <h6>1245</h6>
            <p>working hours</p>
          </div>
        </div>
        <!-- End counter-item -->
        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">

            <div class="item-head">
              <i class="cr-send"></i>
            </div>
            <h6>648</h6>
            <p>project completed</p>
          </div>
        </div>
        <!-- End counter-item -->

        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-cup"></i>
            </div>
            <h6>576</h6>
            <p>cups of tea</p>
          </div>
        </div>
        <!-- End counter-item -->

        <div class="counter-item sm-mb40" data-sr>
          <div class="col-md-3 col-sm-6">
            <div class="item-head">
              <i class="cr-heart"></i>
            </div>
            <h6>632</h6>
            <p>happy clients</p>
          </div>
        </div>
        <!-- End counter-item -->
      </div>
    </div>
    <!-- End container -->

  </section>

  <!-- ************************ -->
  <!--   OUR WORKS              -->
  <!-- ************************ -->

  <section class="pt150 pb150">

    <div class="container">

      <div class="section-title-sm">
        <h4 class="title">meet our team</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <em >Suspendisse et tristique nisi, a rutrum lacus. Sed
              dapibus nec massa et rutrum hendrerit tincidunt feugiat non metus quis lectus
              feugiat bibendum.</em>
          </div>
        </div>

      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row pb50">
        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <img src="assets/images/chris.jpg" alt="image">
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Col Sass / Web developer</h6>
              <p>Ut fringilla dolor mi, nec scelerisque nibh tincid in. Aliquam semper lacinia.</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>

        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <img src="assets/images/sam.jpg" alt="image">
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Ruby Rails / web designer</h6>
              <p>Ut fringilla dolor mi, nec scelerisque nibh tincid in. Aliquam semper lacinia.</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <img src="assets/images/kevin.jpg" alt="image">
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Ruby Rails / web designer</h6>
              <p>Ut fringilla dolor mi, nec scelerisque nibh tincid in. Aliquam semper lacinia.</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
      </div>
      <div class="row pb50">
        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <img src="assets/images/nicolas.jpg" alt="image">
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Ruby Rails / web designer</h6>
              <p>Ut fringilla dolor mi, nec scelerisque nibh tincid in. Aliquam semper lacinia.</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
                <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <img src="assets/images/luis.jpg" alt="image">
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Ruby Rails / web designer</h6>
              <p>Ut fringilla dolor mi, nec scelerisque nibh tincid in. Aliquam semper lacinia.</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>

        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <img src="assets/images/andres.jpg" alt="image">
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Mark React / team lead</h6>
              <p>Ut fringilla dolor mi, nec scelerisque nibh tincid in. Aliquam semper lacinia.</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
      </div>
    </div>
    <!-- End container -->

  </section>

  <!-- ************************ -->
  <!--   TESTIMONIAL            -->
  <!-- ************************ -->

  <section
    class="testimonial-wrap jarallax pt150 pb150"
    style="background-image: url(assets/images/testimonial-bg2.png);">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">

        <div class="owl-testimonial-slider">
          <div class="owl-item" data-sr>

            <div class="avatar-wrap">
              <img src="assets/images/testimonial-01.png" alt="avatar">
            </div>

            <h3>Diva span</h3>
            <p>Mauris interdum blandit enim et elementum. Suspendisse potenti. Mauris nulla
              ipsum, euismod et lacinia em.
              <br>
              Donec lobortis magna sed urna cursus, vitae ultrices sapien pellentesque.
              <br>
              In posuere, risus sed aliquet varius, tortor neque.</p>

          </div>
          <!-- End owl-item -->

          <div class="owl-item" data-sr>

            <div class="avatar-wrap">
              <img src="assets/images/testimonial-02.png" alt="avatar">
            </div>

            <h3>Paulo Aramella</h3>
            <p>Mauris interdum blandit enim et elementum. Suspendisse potenti. Mauris nulla
              ipsum, euismod et lacinia em.
              <br>
              Donec lobortis magna sed urna cursus, vitae ultrices sapien pellentesque.
              <br>
              In posuere, risus sed aliquet varius, tortor neque.</p>

          </div>
          <!-- End owl-item -->

        </div>
        <!-- End owl-testimonial-slider -->

      </div>
    </div>
    <!-- End container-fluid -->

    <div class="testimonial-nav">
      <i class="lnr lnr-arrow-left pull-left"></i>
      <i class="lnr lnr-arrow-right pull-right"></i>
    </div>
    <!-- End testimonial-nav -->

  </section>

</main>

<!-- ************************ -->
<!--   SEPARATOR              -->
<!-- ************************ -->

<div class="container">
  <div class="sep-line"></div>
</div>
<!-- End container -->