<div class="title-home jarallax" style="background-image: url(<%= asset_path 'land.jpg' %>);">

  <div class="overlay"></div>
  <!-- End overlay -->

  <div class="container">

    <div class="text-center pb50" >
      <h4 data-sr style="" class='we-are'>We are
        <span class="color typed-two">&nbsp;</span>
      </h4>
      <p class='text white'>We are entering a world that is fundamentally different than the one we know.
        <br>
        Economics and governance is changing. Institutions are shifting. People are listening.
        <br>
         The next phase is here.
      </p>
      <div class="buttons mt40 mb50">
        <a href="<%= contact_us_path %>" class="btn line-hor" style="border: 2px solid white; color:white;">
          <span>Contact us</span>
        </a>

      </div>
    </div>
    <div class="row" style="opacity: .6">
      <div><p class="title-over-images"> We leverage several technologies </p> </div>
      <div class="col-md-3 techno">
        <%= image_tag 'bitcoin.png' %>
      </div>
      <div class="col-md-3 techno">
        <%= image_tag 'lightning.png' %>
      </div>
      <div class="col-md-3 techno">
        <%= image_tag 'ether.png' %>
      </div>
      <div class="col-md-3 techno">
        <%= image_tag 'rsk.png' %>
      </div>
    </div>
  </div>
  <!-- End container -->

</div>
