<main>
  <section class="pt150 pb150" id="our_team">

    <div class="container">

      <div class="section-title-sm">
        <h4 class="title">meet our team</h2>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class='text black' >We're a small, agile, coherent team of software developers with a unified obsession with Blockchain. Ask us what get's us out of bed in the morning, you guessed it, Blockchain.</p>
          </div>
        </div>

      </div>
    </div>
    <!-- End container -->

    <div class="container">
      <div class="row pb50">
        <div class="col-sm-4">
          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'sam.jpg'  %>

              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/samabbassi/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/samabbassi">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Sam Abbassi
              </h6>
              <p class='text black' > Co-Founder / Systems Engineering<br/>
                Economics, Neuroscience</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>

        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'chris.jpg'  %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/christopherarguello/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Christopher Arguello
              </h6>
              <p class='text black' >Co-Founder / Engineering Lead <br/>
               Project Management, Manufacturing </p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'kevin.jpg'  %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/kevinvanderpoll/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Kevin Van Der Poll
              </h6>
              <p class='text black' > Co-Founder / Protocol Development<br/>
               Video Game Design, Hospitality </p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
      </div>
      <div class="row pb50">
        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'luis.jpg'  %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/luisthomas/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <div class="team-footer">
              <h6>Luis Thomas
              </h6>
              <p class='text black' >Wallet Development <br/>
               Computer Science</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>
          <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'nicolas.jpg'  %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/nlevo/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Nicolas Levo
              </h6>
              <p class='text black' >Protocol Development<br/>
               Computer Science, Hospitality </p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>

        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'andres.jpg'  %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/andres-rojas-a82a3aaa/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Andres Rojas
              </h6>
              <p class='text black' >Full Stack Developer <br/>
              Web Development, Education</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>

        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'ariel.jpg' %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/ariel-deschapell/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/NotASithLord/">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Ariel Deschapelle
              </h6>
              <p class='text black' >Crypto Developer <br/>
              Journalism, Education</p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>

        <div class="col-sm-4">

          <div class="team-item sm-mb40">
            <div class="team-header">
              <%= image_tag 'katya.jpg'  %>
              <div class="social-wrap">
                <ul class="list-none">
                  <li>
                    <a href="https://www.linkedin.com/in/katyademina/">
                      <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End social-wrap -->
            </div>
            <!-- End team-header -->
            <div class="team-footer">
              <h6>Katya Demina
              </h6>
              <p class='text black' >PR/Marketing <br/>
              </p>
            </div>
            <!-- End team-footer -->
          </div>
          <!-- End team-item -->
        </div>


      </div>
    </div>
    <!-- End container -->

  </section>

  <div class="container">
    <div class="sep-line-bushi"></div>
  </div>
</main>
