<main>
  <div class="craxy-line"></div>
    <section class="pt100 pb50" id="what_we_do">
      <div class="container">

        <div class="section-title">
          <div class="title">What We Do</div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <em data-sr="wait .2s">We are ‘blockchain agnostic’. We leverage several different platforms for different use-cases. The bulk of our experience lies in the Bitcoin, Ethereum, and Hyperledger blockchain infrastructures.</em>
            </div>
          </div>

        </div>
      </div>
      <!-- End container -->

      <div class="container">
        <div class="row">
          <div class="owl-services">

            <div class="owl-item">
              <div class="col-md-5">
                <%= image_tag 'digital_currency.jpg' %>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <h4 class="sub_title">01. Digital Currency
                   <div class="crazy-borderv2"></div>
                </h4>
                <p class='text black' >We use and build open source protocols that leverage the power of blockchain and smart contracts to create cheap, fast and private transactions. These include consensus mechanisms, wallet development and ancillary functionality.
                </p>

                <div class="mt40">
                  <a href="<%= contact_us_path %>" class="btn line-hor">
                    <span>Contact us</span>
                  </a>
                </div>

              </div>
            </div>
            <!-- End owl-item -->

            <div class="owl-item">
              <div class="col-md-5">
                <%= image_tag 'financial_networks.jpg' %>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <h4 class="sub_title">02. Blockchain Applications
                   <div class="crazy-borderv2"></div>
                </h4>

                <p class='text black' >User adoption and application innovations is driving the need for more secure and robust infrastructures. Blockchain provides robust security, transparency, and increases shareholder value all around.
                </p>

                <div class="mt40">
                  <a href="<%= contact_us_path %>" class="btn line-hor">
                    <span>Contact us</span>
                  </a>
                </div>

              </div>
            </div>
            <!-- End owl-item -->

            <div class="owl-item">
              <div class="col-md-5">
                <%= image_tag 'blockchain_applications.jpg' %>
              </div>
              <div class="col-md-6 col-md-offset-1">
                <h4 class="sub_title">03. Financial Networks
                   <div class="crazy-borderv2"></div>
                </h4>

                <p class='text black'>We are researching Layer 2 and Sidechain applications to support Layer 1 scalability. These protocols will afford users and institutions the ability to leverage the power of digital assets across blockchains to provide liquidity through the bridging of disparate markets.
                </p>

                <div class="mt40">
                  <a href="<%= contact_us_path %>" class="btn line-hor">
                    <span>Contact us</span>
                  </a>
                </div>

              </div>
            </div>
            <!-- End owl-item -->

          </div>
          <!-- End owl-services -->

        </div>
      </div>
      <!-- End container -->
      <div class="container">

        <div class="services-nav">
          <i class="lnr lnr-arrow-left"></i>
          <i class="lnr lnr-arrow-right"></i>
        </div>

      </div>
      <!-- End container -->
    </section>

    <!-- ************************ -->
    <!--   COUNTERS               -->
    <!-- ************************ -->
</main>
