<!-- ************************ -->
<!--   NAVBAR                 -->
<!-- ************************ -->

<div class="crazy-navbar <%= controller_name == 'home' && action_name == 'index' ? '' : 'changeColor' %>">
  <div class="container">

    <div class="crazy-logo">
      <a href="<%= root_path %>">
        <%= image_tag 'bushilogo.png' %>
      </a>
    </div>
    <!-- End crazy-logo -->

    <nav class="crazy-nav">
      <ul class="sf-menu">
        <%= render partial: 'nav_list' %>
      </ul>
    </nav>
    <a href="#" class="open-menu">
      <i class="burger-icon">
        <i></i>
      </i>
    </a>
  </div>
  <!-- End container -->

  <div class="container">
    <div class="row">
      <div class="mobile-menu-wrap">
        <nav>
          <ul class="list-none">
            <%= render partial: 'nav_list' %>
          </ul>
        </nav>
      </div>
      <!-- End mobile-menu-wrap -->
    </div>
  </div>
  <!-- End container -->

</div>
